body {
  background: #eee;
}

.dragndrop {
  margin: 4rem auto;
  width: 80%;
  display: flex;
  box-sizing: border-box;

  &__item {
    display: flex;
    flex: 0 calc(33% - 1rem);
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    cursor: move;
    position: relative;
    margin: 0 0.5rem 0.5rem 0.5rem;

    &-name {
      position: absolute;
      bottom: 4px;
      left: 4px;
      background-color: rgba(black, 0.5);
      color: white;
      font-size: 0.8rem;
      display: block;
      z-index: 1;
      padding: 3px 6px;
      font-family: sans-serif;
    }

    img {
      box-shadow: 0 0 6px 1px rgba(black, 0.2);
      border: 4px solid white;
      max-width: 100%;
      display: block;
    }
  }

  &__placeholder {
    @extend .dragndrop__item;
    
    box-shadow: none;
    height: 100%;
    border: 2px solid springgreen;
  }

  &__repository, &__dropzone {
    display: flex;
    flex: 0 0 calc(50% - 2rem);
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem;
    min-height: 70vh;
    box-sizing: border-box;
  }
  &__repository {
    border: 2px dashed #ccc;
  }
  &__dropzone {
    border: 2px dashed #ccc;
  }
}